.cover-page-box {
  width: 50%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 50px;
}
